<!DOCTYPE html>
<html>
<head>
    <title>
        Govt. Affiliation
    </title>
</head>
<body>
    <center><h1>Government Recognition</h1></center>
    <br>
    <table>
        <tr>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><img src="{{ url_for('static', filename='image/govt1.jpg')}}" alt="govt affilation 1" height="150" width="150"></td>    
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><p>The University, West Bengal has been established by an act of State Legislature vide Act- West Bengal Act of 2012 
                (No 1203-L, 16th Aug,2012)University is a full fledged university and not a deemed university           </p></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        </tr>
        <tr>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><img src="{{ url_for('static', filename='image/govt2.jpg')}}" alt="govt affilation 2" height="150" width="150"></td>    
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><p>University,West Bengal recognized and enlisted by UGC as competent to award degrees as specified by UGC under section 22 of the UGC Act, Vide Letter No 8-317/20127(CPP-I/PU),dated 29.11.12.</p></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        </tr><tr>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><img src="{{ url_for('static', filename='image/govt3.jpg')}}" alt="govt affilation 3" height="150" width="150"></td>    
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><p>University, West Bengal is AICTE Approved. AICTE approval Vide its letter no:F.No. Eastern/2017/1-339270/30-454</p></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        </tr><tr>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><img src="{{ url_for('static', filename='image/govt4.jpg')}}" alt="govt affilation 4" height="150" width="150"></td>    
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><p>Approved admission through CSAB following JEE (Main) vide letter CBSE/DS/JEE(Main)-2013, dated: 12.06.2013.       </p></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        </tr><tr>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><img src="{{ url_for('static', filename='image/govt5.jpg')}}" alt="govt affilation 5" height="150" width="150"></td>    
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <td><p>WB Govt, HE Dept.: Approved admission of students from the WBJEEB vide order no: 575-Edn(U)/1U(TECH)-01/14 dated: 17.05.2014.          </p></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
        </tr>

        
    </table>



</body>
</html>