<!DOCTYPE html>
<html>
    <head>
        <title>JEE</title>
        <style>

            .bod{
                margin-left: 5%;
                margin-right: 5%;
                background-color: rgb(249, 250, 215);
            }
            .mid
            { 
                width: 100%;
                color: azure;
                background-color: blueviolet; 
                margin-left: 2%;
                margin-left: 2%;
            }
        </style>
    </head>
    <body>
        <div class="header" >
            <table>
                <tr>
                    <td>
                      <img src="{{ url_for('static', filename='image/jee1.png')}}" alt="jee1">  
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='image/jee2.png')}}" alt="jee2">  
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='image/jee3.png')}}" alt="jee3">  
                    </td>
                </tr>
                
            </table>
        </div>
        <table class="mid">
            <tr>
                <td>Latest NEWS:--</td>
                <td>  <marquee direction="right" >JEE – 2023 Session 2 : Admit Card Download</marquee>
                </td>
            </tr>
        </table>
        <div class="bod">
            <table>
                <tr>
                    <td width="500"><b>Public Notice</b><br>
                    <ul>
                        <li>
                            Release of Admit Cards for the Candidates of Joint Entrance Examination (Main)
                             – 2023 Session 2 (April 2023) scheduled to appear on 06 April 2023
                        </li>
                        <li>
                            Advance Intimation for Allotment of Examination City to the Applicants 
                            of Joint Entrance Examination (Main) – 2023 Session 2
                        </li>
                        <li>
                            Alerts against fake information being provided on Social Media Platforms regarding Joint Entrance Examination (Main) – 2023 Session 2
                        </li>
                        <li>
                            PUBLIC NOTICE: Inviting Online Applications for Joint Entrance Examination (Main) – 2023 Session 2 – Reg.
                        </li>
                        <li>
                            Correction in State Code of Eligibility and Category filled in the Online Application Form of JEE (Main) – 2023 Session 1
                        </li>
                    </ul>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="text-align: justify;">
                       <h4> INTRODUCTION</h4>
                            The Ministry of Education (MoE), Government of India
                            (GoI) has established the National Testing Agency (NTA) as an independent,
                             autonomous, and self-sustained premier testing organization under the Societies 
                             Registration Act (1860) for conducting efficient, transparent, and international
                              standardized tests in order to assess the competency of candidates for admission
                               to premier higher education institutions with a mission to improve equity and
                                quality in education by developing and administering research-based valid, 
                                reliable, efficient, transparent, fair and international level assessments.
                                <br>

                            NTA has created a system that is promoting teaching (by teachers), learning 
                            (by students), and assessment (by parents and institutions). NTA strongly believes
                             in the quality, efficiency, effectiveness, equity, and security of assessments.
                              To practice these values, NTA is constantly engaging with its stakeholders, viz.
                               students, parents, teachers, experts, and partner institutions
                    </td>
                </tr>
            </table>

        </div>



    </body>
</html>