<!DOCTYPE html>
<html>
    <head>
        <title>Scholarship</title>
    <style>
        .bod{
            margin-top: 5%;
            margin-left: 20%;
            margin-right: 20%;
        }
    </style>
    </head>
    <body >
        <div class="bod">
        <h1><b> Ratna Shri Pranab Mukherjee Merit Scholarship  </b></h1>
        <hr color="red">
        Bharat Ratna Shri Pranab Mukherjee Merit Scholarship was officially declared on the 24th of July, 
        2019 by the former President of India. University, West Bengal is the first university to 
        take this opportunity to introduce this scholarship and it is a great honour for our national pride. 
        Every year one meritorious student will get this opportunity to get this scholarship along with 
        certificate issued by the Bharat Ratna. This scholarship will enable students to concentrate towards 
        increasing their knowledge and skills in the field of Science and Technology to connect India globally.
        <h1><b> Financial Aid</b></h1>
        <hr color="red" >
        Financial barriers should never obstruct the vision of students on their path to academic success
         and brilliance. In collaboration with nationalized banks such as Punjab National Bank, educational
          loans have alleviated economic issues 
        to a great extent which has reassured many aspirers never to outsource their dreams.
        <br>
        <br>
        Education for all to enrich the country:  University has taken an oath to be a part of this
         initiative to give education to the poor meritorious students who can apply under this scheme.
        </div>
    </body>
</html>