<!DOCTYPE html>
<html>
    <head>
        <title>
            WBJEE
        </title>
        <style>
            .bod{
                text-align: center;
                margin-top: 5%;
                margin-left: 5%;
                margin-right: 5%;
            }
            .midd{
                background-color: rgb(123, 137, 231);
            }
            .tab1{
                border: 2px;
                border-style: dashed;
            }
        </style>
    </head>
    <body>
        <div class="bod">
            <h1><b>West Bengal Joint Entrance Examinations Board</h1>
                <h3>AQ 13/1 Sector V Salt Lake City Kolkata 700091</b></h2>
            <hr color="blue" size="10">
            <div class="midd">
            <marquee direction="right" ><table class="tab1"><tr><td>Please note the revised schedule of Round-1 reporting to institutes </td></tr></table></marquee>
            </div>  
            <table >
                <tr>
                    <td> <img src="image/wbjee1.png" alt="wbjee1"></td>
                    <td> 
                        Counselling-2021<br>
                        <hr>

For 2021–2022 academic session, the Board will conduct centralized e-counselling for admission
 to Undergraduate Courses in Engineering & Technology, 
Pharmacy and Architecture in Universities, Govt. Colleges and Self-Financed Institutes in the State.
                    </td>
                    <td>
                            <img src="image/wbjee2.png" alt="wbjee2">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>